<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AI Project UI</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h4> Upload your image </h4>
      <form class='row g-2 file-input2 form-container' action="/upload" enctype="multipart/form-data" method="post">
        {{ alert|safe }}
        <input class="form-control" type="file" name="file[]" id="file" multiple>
        <button type="submit" class="btn btn-primary">Process!</button>
      </form>

    {% if preds %}
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Filename</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Race</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in preds.items() %}
    <TR>
      <TD class="c1"><img src="data:image/png;base64,{{value.base64image|safe}}" width="100" height="100" /></TD>
      <TD class="c1">{{key}}</TD>
      <TD class="c2">{{value.gender}}</TD>
      <TD class="c2">{{value.age}}</TD>
      <TD class="c2">{{value.race}}</TD>
    </TR>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    
    {% endblock %}
  </body>
</html>
