<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AI Project UI</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
  </head>
  <body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
    {% extends "template.html" %}
    {% block content %}

    <h4> Upload your image </h4>
    <!-- <p> Upload your image </p> -->

    <!-- <div class='file-input'>
      <input type='file' name="files[]">
      <span class='button'>Choose</span>
      <span class='label' data-js-label>No file selected</label>
    </div> -->

    <!-- <div class='file-input'> -->
    <!-- <div class="alert alert-success" role="alert">Files uploaded successfully</div> -->
    
    <!-- <div class="container-sm"> -->
      <form class='row g-2 file-input2 form-container' action="/upload" enctype="multipart/form-data" method="post">
        {{ alert|safe }}
        <input class="form-control" type="file" name="file[]" id="file" multiple>
        <!-- <span class='button'>Choose</span> -->
        <!-- <span class='label' data-js-label>No file selected</label> -->
        <!-- <input type='submit' name='submit' value='Upload'> -->
        <button type="submit" class="btn btn-primary">Process!</button>
      </form>

    {% if preds %}
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Filename</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Race</th>
      </tr>
    </thead>
    <tbody>
    {% for key, value in preds.items() %}
    <TR>
      <TD class="c1"><img src="data:image/png;base64,{{value.base64image|safe}}" width="100" height="100" /></TD>
      <TD class="c1">{{key}}</TD>
      <TD class="c2">{{value.gender}}</TD>
      <TD class="c2">{{value.age}}</TD>
      <TD class="c2">{{value.race}}</TD>
    </TR>
      <!-- <h1>Key: {{key}}</h1>
      <h2>Value: {{value}}</h2> -->
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <!-- {{ preds }} -->
    <!-- </div> -->
    <!-- </div> -->
    
    {% endblock %}
  </body>
</html>
